<ion-view view-title="Featured">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-positive">Categories</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-slide-box does-continue="true" auto-play="true" show-pager="false" on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="slide-box energized-bg"></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-box positive-bg"></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-box balanced-bg"></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-box royal-bg"></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-box assertive-bg"></div>
      </ion-slide>
    </ion-slide-box>
    <div class="pbm">
      <p class="font-normal font-m plm ptm float-left dark">Best New Apps</p>
      <p class="font-normal font-ls prm ptl float-right dark">See All <i class="icon ion-ios-arrow-right"></i></p>
      <ion-scroll direction="x" paging="false" scrollbar-x="false" class="app-carousel clear-both">
        <div style="display: inline-flex;">
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appa.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">App Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Shopping</p>
            <p class="font-normal pan man font-ls font-dark-grey">$0.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appb.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">App Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Shopping</p>
            <p class="font-normal pan man font-ls font-dark-grey">$0.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appc.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">App Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Shopping</p>
            <p class="font-normal pan man font-ls font-dark-grey">$0.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appd.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">App Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Shopping</p>
            <p class="font-normal pan man font-ls font-dark-grey">$0.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appe.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">App Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Shopping</p>
            <p class="font-normal pan man font-ls font-dark-grey">$0.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appf.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">App Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Shopping</p>
            <p class="font-normal pan man font-ls font-dark-grey">$0.99</p>
          </a>
          <a class="text-no-deco plm float-left prm" href="#">
            <img src="img/appg.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">App Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Shopping</p>
            <p class="font-normal pan man font-ls font-dark-grey">$0.99</p>
          </a>
        </div>
      </ion-scroll>
      <hr class="mlm separator">
    </div>

    <div class="pbm">
      <p class="font-normal font-m plm float-left dark">Best New Games</p>
      <p class="font-normal font-ls prm float-right dark">See All <i class="icon ion-ios-arrow-right"></i></p>
      <ion-scroll direction="x" paging="false" scrollbar-x="false" class="app-carousel clear-both">
        <div style="display: inline-flex;">
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appg.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">Game Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Games</p>
            <p class="font-normal pan man font-ls font-dark-grey">$2.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appf.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">Game Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Games</p>
            <p class="font-normal pan man font-ls font-dark-grey">$2.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appb.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">Game Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Games</p>
            <p class="font-normal pan man font-ls font-dark-grey">$2.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appd.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">Game Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Games</p>
            <p class="font-normal pan man font-ls font-dark-grey">$2.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appc.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">Game Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Games</p>
            <p class="font-normal pan man font-ls font-dark-grey">$2.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appa.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">Game Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Games</p>
            <p class="font-normal pan man font-ls font-dark-grey">$2.99</p>
          </a>
          <a class="text-no-deco plm float-left prm" href="#">
            <img src="img/appi.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">Game Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Games</p>
            <p class="font-normal pan man font-ls font-dark-grey">$2.99</p>
          </a>
        </div>
      </ion-scroll>
      <hr class="mlm separator">
    </div>

    <div class="pbm">
      <p class="font-normal font-m plm float-left dark">Black Friday Shopping Deals</p>
      <ion-scroll direction="x" paging="false" scrollbar-x="false" class="banner-carousel clear-both">
        <div style="display: inline-flex;">
          <a class="plm float-left" href="#">
            <img src="img/app-banner.png" class="app-banner">
          </a>
          <a class="plm float-left" href="#">
            <img src="img/app-banner.png" class="app-banner">
          </a>
          <a class="plm float-left" href="#">
            <img src="img/app-banner.png" class="app-banner">
          </a>
          <a class="plm float-left" href="#">
            <img src="img/app-banner.png" class="app-banner">
          </a>
          <a class="plm float-left prm" href="#">
            <img src="img/app-banner.png" class="app-banner">
          </a>
        </div>
      </ion-scroll>
      <hr class="mlm separator">
    </div>

    <div class="pbl">
      <p class="font-normal font-m plm float-left dark">Popular Games & Apps</p>
      <p class="font-normal font-ls prm float-right dark">See All <i class="icon ion-ios-arrow-right"></i></p>
      <ion-scroll direction="x" paging="false" scrollbar-x="false" class="app-carousel clear-both">
        <div style="display: inline-flex;">
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appi.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">Game Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Games</p>
            <p class="font-normal pan man font-ls font-dark-grey">$2.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appf.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">Game Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Games</p>
            <p class="font-normal pan man font-ls font-dark-grey">$2.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/apph.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">Game Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Games</p>
            <p class="font-normal pan man font-ls font-dark-grey">$2.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appg.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">Game Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Games</p>
            <p class="font-normal pan man font-ls font-dark-grey">$2.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appb.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">Game Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Games</p>
            <p class="font-normal pan man font-ls font-dark-grey">$2.99</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/appd.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">Game Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Games</p>
            <p class="font-normal pan man font-ls font-dark-grey">$2.99</p>
          </a>
          <a class="text-no-deco plm float-left prm" href="#">
            <img src="img/appc.png" class="border border-radius-xl app-icon">
            <p class="font-normal pan man font-ls dark">Game Name</p>
            <p class="font-normal pan man font-ls font-dark-grey">Games</p>
            <p class="font-normal pan man font-ls font-dark-grey">$2.99</p>
          </a>
        </div>
      </ion-scroll>
    </div>
  </ion-content>
</ion-view>
