<ion-view view-title="Featured">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-positive">Categories</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-slide-box does-continue="true" auto-play="true" show-pager="false" on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="slide-box energized-bg"></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-box positive-bg"></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-box royal-bg"></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-box assertive-bg"></div>
      </ion-slide>
    </ion-slide-box>
    <div>
      <p class="font-normal font-m plm ptm">Best New Apps</p>
      <ion-scroll direction="x" style="height: 150px" class="no-scrollbar">
        <div style="width: auto; height: 150px; display: inline-flex;">
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/app-icon.png" class="border border-radius app-icon">
            <p class="font-normal pan man font-ls dark">App Name</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/app-icon.png" class="border border-radius app-icon">
            <p class="font-normal pan man font-ls dark">App Name</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/app-icon.png" class="border border-radius app-icon">
            <p class="font-normal pan man font-ls dark">App Name</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/app-icon.png" class="border border-radius app-icon">
            <p class="font-normal pan man font-ls dark">App Name</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/app-icon.png" class="border border-radius app-icon">
            <p class="font-normal pan man font-ls dark">App Name</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/app-icon.png" class="border border-radius app-icon">
            <p class="font-normal pan man font-ls dark">App Name</p>
          </a>
          <a class="text-no-deco plm float-left" href="#">
            <img src="img/app-icon.png" class="border border-radius app-icon">
            <p class="font-normal pan man font-ls dark">App Name</p>
          </a>
        </div>
      </ion-scroll>
    </div>
  </ion-content>
</ion-view>
