<ion-view view-title="">
  <ion-nav-title class="">
    <ion-nav-inputs>
      <div class="bar bar-stable bar-header item-input-inset pan" style="height:44px;">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
      </div>
    </ion-nav-inputs>
  </ion-nav-title>
  <ion-content>
    <h4 class="text-center font-normal mtl dark">Trending Searches</h4>
  </ion-content>
</ion-view>
