<ion-view view-title="Featured">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-positive">Categories</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-slide-box does-continue="true" auto-play="true" show-pager="false" on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="slide-box energized-bg"></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-box positive-bg"></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-box royal-bg"></div>
      </ion-slide>
      <ion-slide>
        <div class="slide-box assertive-bg"></div>
      </ion-slide>
    </ion-slide-box>
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
